h2 {
    color: white;
    background-color: teal;
    text-align: center;
}

    h1{
    color: black;
    text-align: center;
}

a{
    color: blue;
}

p.description{
    margin: 4px;
}

p {
    font-family: "Courier New", monospace;
    font-size: 12px;
}

a {
    text-transform: uppercase;
}
img{
    width: 100;
    height: 100;
    object-fit: cover;
}
nav {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
}
li {
    display: inline;
    padding: 8px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    position: relative;
    width: 100%;
    height: 10em;
    
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}
button{
    margin-top: 10px;
}
