h2 {
    color: white;
    background-color: teal;
    text-align: center;
}

h1{
    color: black;
    text-align: center;
}

a{
    color: blue;
}

p.description{
    margin: 4px;
}

p {
    font-family: "Courier New", monospace;
    font-size: 12px;
}

a {
    text-transform: uppercase;
}